body {

background:url('https://raw.githubusercontent.com/katerina-svaga/praktika8/refs/heads/main/Quels-sont-les-delais-pour-refaire-ses-cles-.png');

height:4600px;

}  
div#parallax-bg-1{

  position: fixed;

  width: 1200px;

  top: 0;

  left: 50%; 

  margin-left: -600px; 

  z-index: 1;

}

div#parallax-bg-2{

  position: fixed;

  width: 1200px;

  top: 0;

  left: 50%; 

  margin-left: -600px; 

  z-index: 2;

}



div#parallax-bg-3{

  position: fixed;

  width: 960px;

  top: 0;

  left: 50%; 

  margin-left: -470px; 

  z-index: 3;

}

div#parallax-bg-3 div{

  background-repeat:no-repeat;

  position:absolute;

  display:block;

  overflow:hidden;

}
div#bg-3-1{

  background:url('https://raw.githubusercontent.com/katerina-svaga/praktika8/refs/heads/main/Quels-sont-les-delais-pour-refaire-ses-cles-.png');

  width:1000px;

  height:1000px;

  top:-100px;

  right:100px;

}
div#bg-3-2{

  background:url('https://raw.githubusercontent.com/katerina-svaga/praktika8/refs/heads/main/82-829236_alice-in-wonderland-cat-clipart-collection-alice-in-wonderland-cheshire-cat-pointing.png');

  width:400px;

  height:400px;

  top:1050px;

  right:70px;
}
div#bg-3-3{

  background:url('https://raw.githubusercontent.com/katerina-svaga/praktika8/refs/heads/main/92813798_ouadwentures_in_wonderlandel37r.png');

  width:846px;

  height:713px;

  top:1800px;

  right:140px;

}
div#bg-3-4{

  background:url('https://raw.githubusercontent.com/katerina-svaga/praktika8/refs/heads/main/wshgfgnrky7-no-bg-preview%20(carve.photos).png');

  width:1104px;

  height:684px;

  top:2800px;

  right:0px;

} 
div#parallax-bg-2 div{

  background:url('https://raw.githubusercontent.com/katerina-svaga/praktika8/refs/heads/main/pngtree-vintage-illustration-of-a-key-from-alice-in-wonderland-png-image_15788083.png');

  background-repeat:no-repeat;

  position:absolute;

  display:block;

  width:488px;

  height:438px;

  overflow:hidden;

}



div#bg-2-1{

  top:100px;

  left:-310px;

}

div#bg-2-2{

  top:270px;

  right:-70px;

}

div#bg-2-3{

  top:870px;

  left:-300px;

}

div#bg-2-4{

  top:1120px;

  right:-130px;

}

div#bg-2-5{

  top:1620px;

  left:140px;

}

div#bg-2-6{

  top:720px;

  left:340px;

}
div#parallax-bg-1 div{

  background-repeat:no-repeat;

  position:absolute;

  display:block;

  width:488px;

  height:538px;

  overflow:hidden;

}
div#bg-1-1{

  background:url('https://raw.githubusercontent.com/Lizaveta-sketch/-/refs/heads/main/pigeon.png');

  top:200px;

  right:250px;

}

   

div#bg-1-2{

  background:url('https://raw.githubusercontent.com/katerina-svaga/praktika8/refs/heads/main/7b05919a9af73b5de3b480062e15b831.png');

  top:420px;

  left:0px;

}

div#bg-1-3{

  background:url('https://raw.githubusercontent.com/katerina-svaga/praktika8/refs/heads/main/Fortnite_Small_Shield_Potion.png');

  top:850px;

  right:-290px;

}

div#bg-1-4{

  background:url('https://raw.githubusercontent.com/katerina-svaga/praktika8/refs/heads/main/pngtree-3d-medieval-blade-with-leather-handle-and-gradient-backdrop-png-image_13856413.png');

  top:1350px;

  left:200px;

}

div#bg-1-5{

  background:url('https://raw.githubusercontent.com/katerina-svaga/praktika8/refs/heads/main/pngtree-coffee-simple-cartoon-pattern-png-image_9096613.png
  top:1200px;

  left:-200px;

}  
.bird1 {

  animation: bird1 5s infinite;

}
@keyframes bird1 {

  0% {

    transform: translateY(-80);

  }

  100% {

    transform: translateY(410vh);

  }

}
.bird2 {

  animation: bird2 5s infinite;

}
@keyframes bird2 {

  0% {

    transform: translateY(-80);

  }

  100% {

    transform: translateY(350vh);

  }

}
.bird3 {

  animation: bird3 5s infinite;

}
@keyframes bird3 {

  0% {

    transform: translateY(-40);

  }

  100% {

    transform: translateY(410vh);

  }

}